server:
  port: 8082

spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5433/account_db
    username: user
    password: password
  sql:
    init:
      mode: always
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer